<div class="form-check">
    <input type="checkbox" class="form-check-input" id="toggleCheckbox">
    <label class="form-check-label" for="toggleCheckbox">
        Show failed and aborted tasks
    </label>
</div>

<style id="sheet-tasks-that-are-not-complete">
    .tasks-that-are-not-complete {
        display: none;
    }
</style>

<script>
    document.getElementById('toggleCheckbox').addEventListener('change', function () {
        const stylesheet = document.getElementById('sheet-tasks-that-are-not-complete').sheet
        for (let rule of stylesheet.cssRules) {
            if (rule.selectorText === '.tasks-that-are-not-complete') {
                if (this.checked) {
                    rule.style.display = 'table-row';
                } else {
                    rule.style.display = 'none';
                }
                break;
            }
        }
    });
</script>

<div class="table-responsive">
    <table class="table">
        <thead>
            <td>time</td>
            <td>id</td>
            <td>name</td>
            <td>status</td>
            <td>duration</td>
            <td>branch</td>

            <td>docker_build_cached</td>
            <td>docker_build_duration</td>
            <td>ccache_zerostats_duration</td>
            <td>configure_duration</td>
            <td>depends_build_duration</td>
            <td>build_duration</td>
            <td>ccache_hitrate</td>
            <td>unit_test_duration</td>
            <td>functional_test_duration</td>

        </thead>
        <tbody>
            {{ range .Pages }}
                {{ partial "task-table-row.html" . }}
            {{ end }}
        </tbody>
    </table>
</div>